@model TravelWebApp.Models.Trip

<h2 class="text-danger mb-4">Delete Trip</h2>

<div class="alert alert-danger shadow">
    Are you sure you want to delete the trip <strong>@Model.Title</strong>?
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
</form>
